.head{
    height: 24px;
    text-align: center;
    background:linear-gradient(to right , red, green ,yellowgreen);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 20px;
}
.main{
    border: 4px solid violet;
    background-color: cadetblue;
    position:relative;
   margin-left: 25%;
   width: 50%;
   border-radius: 12px;
}
.list{
    margin-left: 35%;
}
.flex{
    border: 6px solid green;
    border-radius: 12px;
    display:flex;
    background-color: cadetblue;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box{
    border-radius: 5%;
    border: 2px solid green;
    font-weight: bolder;
    width: 25%;
    background-color: cyan;

}
.head1{
    font-weight: bolder;
    height: 28px;
    text-decoration: underline;
    background:linear-gradient( to right , red,  yellow,  red);
    text-align: center;
}
.flex2{
    border: 4px solid green;
    border-radius: 2%;
    background: radial-gradient(blue,green);
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 200px;

    

}
.b{
    border: 2px solid red;
    border-radius: 5%;
    background-color: yellow;
    width: 20%;
    text-decoration: underline;
    text-align: center;
    height: 100px;
    margin-top: 5%;
    
}
.head2{
    background-color: tomato;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    height: 22px;

}
.box1{
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

}
.parent{
    border: 2px solid grey;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.child{
    margin: 15px;
    padding: 10px;
}
.child1{
    background-color:rgb(240, 61, 61);
    grid-column: 1/5;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.child2{
    background-color:rgb(102, 189, 102);
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}
.child3{
    background-color:rgb(82, 82, 187);
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.child4{
    background-color: violet;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.child5{
    background-color:black;
    text-decoration: underline;
    grid-column: 4;
    grid-row:2/4 ;
    text-align: center;
    color: whitesmoke;
   
}
.child6{
    background-color:orange;
    grid-column: 1/4;
}
.child7{
    background-color:cadetblue;
    grid-column: 1/5;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}
.child8{
    background-color: red;
    display:none
}